@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

* {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: black;
    height: 10.5vh;
    display: grid;
}
section {
    background-color: #dadbf1;
}
.header-container {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;
}
.header-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header-logo > img {
    height: 2rem;
}
.header-logo > a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.header-svg {
    margin-left: 1rem;
}
section {
    padding: 5rem 0.938rem 7.188rem;
}
.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-title > h1 {
    font-size: 2.5rem;
    margin-bottom: 3.125rem;
    font-weight: 400;
    letter-spacing: -0.25rem;
}
input {
    width: 92vw;
    height: 8vh;
    border: 1px solid;
    border-radius: 5px;
}
input[type="search"]{
    padding: 1rem;
    font-size: 1.25rem;
}
.container-image {
    height: 4rem;
    margin-right: 1.25rem;
}
.arrow {
    margin-top: 0.25rem;
    height: 2vh;
}
.container-info {
    display: flex;
    padding: 3.5rem 1rem 3.5rem 1rem;
}
.container-info-text > p {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}
.container-info-text > a {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #4C5FD5;
    text-decoration: none;
    font-weight: 600;
}
.container-info-text {
    display: flex;
    flex-direction: column;
}
.container-info.first {
    margin-top: 2.5rem;
}
.container-info.last {
    margin-bottom: 4rem;
}
h2 {
    margin-bottom: 1rem;
}
footer {
    background-color: black;
}
h3 {
    font-size: 1.5rem;
    color: white;
    margin: 1rem 0;
}
.footer-info {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.footer-column > p {
    color: white;
}
.contact-us-paragraph {
    margin-top: 2rem;
}
li {
    list-style: none;
    color: white;
}
li > a {
    text-decoration: none;
    color: white;
}
.footer-column-copyright {
    color: white;
    padding: 1rem 1rem 4rem 1rem;
    font-size: 1.25rem;
}
.abstract-logo {
    margin-bottom: 1rem;
    height:4vh;
}
@media only screen and (min-width: 550px) {
    .section-title > h1 {
        font-size: 4rem;
    }
}